---
- name: repo file is downloaded to /etc/yum.repos.d
  block:
    - name: repo file downloaded to /etc/yum.repos.d
      get_url:
        url: "{{ item.url }}"
        checksum: "{{ item.sha256 | default(omit) }}"
        dest: "{{ item.dest }}"
        mode: "{{ item.mode | default('0644') }}"

    - name: repo key is installed
      rpm_key:
        state: present
        key: "{{ item.key }}"
  become: true
